@import './font-styles.scss';
@import '../utils/scrollbar.scss';

body {
	// font-size: fs.$body-1-size;
	// font-family: fs.$body-1-font-family;
	overflow-x: hidden;
	scroll-behavior: smooth;
	font-family: var(--font-family);
	background-color: var(--background);
	@extend .scrollbar;
}

h1,
h2,
h3,
h4 {
	text-wrap: balance;
}

h1 {
	// @extend .text-h1;
	font-size: var(--h1-size);
	font-weight: var(--h1-weight);
	line-height: var(--h1-line-height);
	letter-spacing: var(--h1-letter-spacing);
	font-family: var(--h1-font-family);
	text-transform: var(--h1-text-transform);
}
h2 {
	font-size: var(--h2-size);
	font-weight: var(--h2-weight);
	line-height: var(--h2-line-height);
	letter-spacing: var(--h2-letter-spacing);
	font-family: var(--h2-font-family);
	text-transform: var(--h2-text-transform);
}
h3 {
	font-size: var(--h3-size);
	font-weight: var(--h3-weight);
	line-height: var(--h3-line-height);
	letter-spacing: var(--h3-letter-spacing);
	font-family: var(--h3-font-family);
	text-transform: var(--h3-text-transform);
}
h4 {
	font-size: var(--h4-size);
	font-weight: var(--h4-weight);
	line-height: var(--h4-line-height);
	letter-spacing: var(--h4-letter-spacing);
	font-family: var(--h4-font-family);
	text-transform: var(--h4-text-transform);
}

p {
	font-size: var(--body-1-size);
	font-weight: var(--body-1-weight);
	line-height: var(--body-1-line-height);
	letter-spacing: var(--body-1-letter-spacing);
	font-family: var(--body-1-font-family);
	text-transform: var(--body-1-text-transform);
}

a {
	color: var(--primary);
	text-decoration: none;
}
