:root {
  // --font-family: 'Kumbh Sans', sans-serif;
  --font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --heading-font-family: var(--font-family);
  --body-font-family: var(--font-family);

  --h1-size: 1.5rem;
  --h1-weight: 700;
  --h1-line-height: 2.125rem;
  --h1-letter-spacing: -0.015625em;
  --h1-font-family: var(--heading-font-family);
  --h1-text-transform: none;

  --h2-size: 1.5rem;
  --h2-weight: 700;
  --h2-line-height: 1.8125rem;
  --h2-letter-spacing: -0.0083333333em;
  --h2-font-family: var(--heading-font-family);
  --h2-text-transform: none;

  --h3-size: 1.25rem;
  --h3-weight: 700;
  --h3-line-height: 1.5rem;
  --h3-letter-spacing: normal;
  --h3-font-family: var(--heading-font-family);
  --h3-text-transform: none;

  --h4-size: 1rem;
  --h4-weight: 700;
  --h4-line-height: 1.125rem;
  --h4-letter-spacing: normal;
  --h4-font-family: var(--heading-font-family);
  --h4-text-transform: none;

  --body-1-size: 1rem;
  --body-1-weight: 400;
  --body-1-line-height: 1.625rem;
  --body-1-letter-spacing: 0.03125em;
  --body-1-font-family: var(--body-font-family);
  --body-1-text-transform: none;

  --button-size: 1.125rem;
  --button-weight: 700;
  --button-line-height: 2.25rem;
  --button-letter-spacing: 0.06em;
  --button-font-family: var(--body-font-family);
  --button-text-transform: none;
}
