// Breakpoints
// $breakpoints: (
//   'phone': 420px,
//   'tablet': 768px,
//   'laptop': 1024px,
//   'desktop': 1400px
// );

:root {
  // Colors
  --background: hsl(210, 22%, 95%);
  --surface: #fafafa;
  --primary: hsl(1, 80%, 66%);
  --secondary: hsl(275, 45%, 76%);
  --dark: #121721;
  --light: #fafafa;

  --on-background: var(--dark);
  --on-surface: var(--dark);
  --on-primary: var(--light);

  --primary-lighten-1: hsl(1, 80%, 75%);
  --dark-lighten-1: hsl(192, 29%, 14%);
  --light-darken-1: hsl(213, 19%, 90%);
  --light-darken-2: hsl(214, 25%, 87%);
  --light-darken-3: #9daec2;
  --light-darken-4: #6e8098;

  --light-text: var(--light-darken-4);

  --max-width-container: 1000px;
  --border: 8px;
}
